{% extends 'base.html' %} {% block main %} {% include 'navbar.html' %}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container-fluid">
  <div class="text-center">
    <a
      type="button"
      class="btn btn-outline-warning btn-lg"
      href="{% url 'create_user' %}"
    >
      Create user
    </a>
    <br />
    <br />
    <a
      type="button"
      class="btn btn-outline-success btn-lg"
      href="{% url 'create_group' %}"
    >
      Creat Group
    </a>
  </div>
</div>
{% endblock main %}
